{{/* layouts/shortcodes/img.html */}}
{{ $divclass := .Get "divclass"}}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default $src }}
{{ $class := .Get "class" }}
{{ $loading := .Get "loading" | default "lazy" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}

<!-- <div {{ with $divclass }}class="{{ . }}" {{ end }} -->
     <img src="{{ $src | relURL }}" {{ with $class }}class="{{ . }}" {{ end }}
            loading="{{ $loading }}" {{ with $width }}width="{{ . }}" {{ end }} {{ with $height }}height="{{ . }}" {{
            end }}>
<!-- </div> -->
                  